$theme-color : #4ecca3;
$theme-bright : #f7f4f9;
$theme-dark : #ca3e47;
$theme-dark2 : #801336;
$text-dark: #333;
$text : #eeeeee;
$text-gray : #f0ece2;
$bgcolor: #393e46;
%page-padding {
    padding : 0px 15%!important;
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px 15px!important;
    }
}
%posts-padding {
    @media (max-width: 991px) {
        padding: 0px 10%!important;
    }
    @media (max-width: 576px) {
        padding: 0px!important;
    }
}
%page-nav-btn {
    right : 5%;
    @media (max-width: 991px) {
        right : 3%;
    }
}
